<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h5 class="m-0 me-2">@lang('Attendance statistics from countries')</h5>
                <small class="text-muted">@lang('Total Countries') {{ count($countryNames ?? []) }}</small>
            </div>
            {{-- <ul class="p-0 m-0">
                @if (isset($countryNames) && isset($countryCounts) && count($countryNames) === count($countryCounts))
                    @foreach (array_combine($countryNames, $countryCounts) as $country => $count)
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-primary">
                                    <i class="bx bx-globe"></i>
                                </span>
                            </div>
                            <div
                                class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">{{ $country }}</h6>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">{{ $count }}</small>
                                </div>
                            </div>
                        </li>
                    @endforeach
                @endif

            </ul> --}}

        </div>

        <div class="card-body">


            <div class="card-body">
                <canvas id="polarChart" class="chartjs" data-height="337"></canvas>
            </div>


        </div>
    </div>

</div>
